@import url('https://fonts.cdnfonts.com/css/iciel-gotham');
@import url('https://fonts.googleapis.com/css?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700;800;900');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
}
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Rubik","sans-serif", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

.leaflet-control {
  overflow: auto;
}

@media(max-width: 1600px) {
  .leaflet-control-container .leaflet-routing-container-hide {
    display: none;
  }
}

.leaflet-container {
  width: 100% ;
  height: 100%;
}

.leaflet-control-attribution {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes fadein {
  from {opacity: 0;}
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

.outerIconDiv {
  width: 26px;
  height: 26px;
  border-radius: 50000px;
  margin-top: -10px;
}

.leaflet-popup-content p {
  margin: 0;
}

.popupCustom {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  background-color: transparent;
  box-shadow: none !important;
}

.popupCustom .leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 1);
  color: rgb(0, 0, 0);
}

.popupCustom .leaflet-popup-close-button {
  color: white !important;
  margin: 8px;
}

.popupCustom .leaflet-popup-tip {
  background-color: rgba(255, 255, 255, 1);

}

.popupDiv {
  width: 100%;
  height: 100%;
}

.popupDivButton {
  width: 100%;
  padding: 6px 16px;
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  cursor: pointer;
  height: 36px;
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 5px;
  transition-duration: 200ms;
}
.leaflet-interactive {
  cursor: grab;
}
.leaflet-marker-icon {
  cursor: pointer;
}
.popupDivButton:hover {
  background-color: rgb(56, 56, 56);
  transition-duration: 200ms;
}
.popupDivButton.disabled {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  cursor: not-allowed;
}

.popupDivButton.disabled:hover {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.innerIconDiv {
width: 100%;
height: 100%;
border-radius: 5000px;
display: flex;
align-content: center;
justify-content: center;
text-align: center;
}

.innerIconText {
justify-content: center;
display: flex;
align-items: center;
font-family: 'IBM Plex Sans', 'Roboto', sans-serif;
font-weight: 900;
line-height: 15px;
color: #f6f7f8;
}

.star{
width:210px;
position: relative;
color: #bdbdbd;
}

.rating {
width:40%;
overflow: hidden;
white-space: nowrap;
}

.rating span{
font-size:50px;
white-space: nowrap;
overflow: hidden;
color: #2c8ed9;
}

.rating span:before {
content:"★★★★★";
position: absolute;
color: #a3a3a3;
z-index: -1;
}
